@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

  @font-face {
    font-family: 'ALS Rubl';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/rouble.otf") format("opentype"), url("../fonts/rouble-webfont.woff") format("woff"); }
    